// colors
$light-color: #f2b0a5;
$sub-primary-color: #d57056;
$primary-color: #b33a3a;
$dark-primary-color: #751a2c;
$dark-color: #261421;

//breakpoints
$big-size: 1200px;
$medium-size: 700px;
$small-size: 550px;
$extra-small-size: 420px;