@import '../../abstracts/variables';

.audio-container {
    .rhap_container {
        background-color: $sub-primary-color;
        border-radius: 8px;
    }

    .rhap_button-clear,
    .rhap_time {
        color: $dark-primary-color;
    }

    .rhap_volume-indicator,
    .rhap_progress-indicator {
        background-color: $dark-primary-color;
    }
}